* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  display: flex;
  align-items: center;
}
.menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}
.menu-line {
  width: 20px;
  height: 3px;
  display: block;
  background: #1f2022;
  border-radius: 20px;
}
.logo {
  margin-right: 59px;
}
.input-group {
  background: #ebebeb;
  border-radius: 22px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-right: 17px;
  max-width: 830px;
  width: 50%;
}
.input-search {
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 23px;
  outline: 0;
  outline-offset: 0;
  width: 100%;
}
.button-search {
  padding: 0;
  border: none;
  width: 19px;
  height: 19px;
  background-color: transparent;
  cursor: pointer;
}
.icon-search {
  fill: #000;
}
.icons {
  width: 170px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}
.icons-link {
  text-decoration: none;
}
.icons-link:hover {
  border-bottom: 2px solid #ccc;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 50px;
}
